* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*root (raiz), criando uma variavel que vai receber a cor white e adicionar nos lugares do css que precisa da cor white.*/
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(/assets/moon-stars.svg);
}

/*pegenado a class lighty para fazer as alteraçoes*/
.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg); /*alterando a imagem de fundo*/
  --switch-bg-url: url(/assets/sun.svg); /*alterando a imagem da lua pro sol*/
  --stroke-color: rgba(0, 0, 0, 0.5); /*alterando cor da borda*/
  --surface-color: rgba(
    0,
    0,
    0,
    0.05
  ); /*alterando cor de fundo do button, deixando embaraçado*/
  --surface-color-hover: rgba(
    0,
    0,
    0,
    0.02
  ); /*alterando a cor do fundo quando o mouse estiver em cima*/
  --highlight-color: rgba(
    0,
    0,
    0,
    0.1
  ); /*alterando a cor dos ICONES quando passar o mouse por cima*/
}

body {
  /* no backgroud abaixo, esta divido em partes ja no outro esta agrupados todos em um unico background.
  background-image: url(/assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */

  /* agrupar tudo em um unico background: color(nao foi definido), image(url), repeat, position, cover */
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  /*Vai deixar todas as palavras do corpo na cor branca*/
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

/*Ajuste para dispositivos*/
#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/*Profile*/
#profile {
  /* Profile pai, vai centralizar a imagem já que o Profile img, é inline e nao tem como centralizar.*/
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/*switch*/
#switch {
  position: relative;
  width: 64px;

  margin: 4px auto; /*deixando o switch centralizado*/
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  /*posicionando a ICON lua/sol no meio do track*/
  position: absolute;
  z-index: 1;
  left: 0;
  transform: translateY(-50%);
  top: 50%;

  animation: slide-back 0.2s;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block; /*por padrao SPAN, tem o display inline e nao aceita algumas propriedas por exemplo (tamanho e largura), ai definimos o display como block*/
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/*links - UL pai*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

/*Filho do UL*/

ul li a {
  display: flex; /*cria uma linha imaginaria*/
  align-items: center; /*deixa o texto na reta dessa linha*/
  justify-content: center; /*deixa o texto no meio da linha que o flex criou*/

  padding: 16px 24px; /*espaço entre elementos(nome de um link para outro link)*/

  background: var(--surface-color); /*cor de fundo do links*/
  border: 1px solid var(--stroke-color); /*cor da borda do links*/
  border-radius: 8px; /*aredonda a borda do link*/

  backdrop-filter: blur(4px); /*vai colocar um embaçado bem suave na cor*/
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none; /*remove a linha que fica em baixo do texto*/
  font-weight: 500; /*tamanho da letra*/

  transition: background 0.2s;
}

/* Pseudo-selector (quando passar o mouse por cima do button*/
ul li a:hover {
  background: var(--surface-color-hover); /*cor de fundo do links*/
  border: 1.5px solid var(--text-color); /*cor da borda do links*/
}

/*social-links icones*/
#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;

  font-size: 24px; /*Quando determina um tamanho do font-size, tudo que tiver dentro do social links receberar esse tamanho*/
}

/*Deixando o ICON alinhado com circulo cinza que fica ao redor quando passa o mouse em cima*/
#social-links a {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

/*add cor ao redor do ICON quando passar o mouse em cima*/
#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/*media queries - alterar a imagem conforme o tamanho do dispositivo*/
@media (min-width: 700px) {
  :root {
    --bg-url: url(/assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(/assets/bg-desktop-light.jpg);
  }
}

/* animation para mover o button soavemente */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
